{{define "index-about"}}
Here is a listing of my music work I've done, with some reading on the side.
{{end}}

{{define "index-main"}}
  {{range $key, $value := .}}
    <a href="/music/{{$value.FrontMatter.title}}">
      <img id=music-index-artwork src="{{$value.FrontMatter.artwork}}">
      <h3 id=music-index-artwork>{{$value.FrontMatter.title}}</h3>
    </a>
  {{else}}
    No Music
  {{end}}
{{end}}
