:root {
  --bg: #0e0e0e;
  --fg: #B7410E;
  --bg-alt: color-mix(in srgb, var(--bg), #1a1a1a);
}

body {
  background-color: var(--bg);
  color: var(--fg);
  font-family: 'Roboto';
  padding: 10px;
}

a {
  color: color-mix(in srgb, var(--fg), #f1f1f1);
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

header {
  display: flex;
  align-items: center;
  margin: 8px;
}

#header-title {
  flex-grow: 2;
  font-size: 3em;
}

#header-links {
  flex-grow: 1;
}

#header-links a {
  padding: 0 10%;
}

#title {
}

#title * {
  display: inline;
}

#about {
}

#links {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-end;
  align-content: stretch;
  margin: 10%;
  background-color: var(--bg-alt);
}

#links a {
  width: 33%;
  padding: 16px;
}

#links a img {
  width: 100%;
}

#links a span {

}

#donations {
  backgound-color: var(--bg-alt)
}

#index a {
  display: block;
  height: 70px;
  width: 100%;
  margin: 4px;
  background-color: var(--bg-alt);
  padding: 4px;
}

#index a * {
  position: relative;
  display: inline;
}

#index a img {
  height: 100%;
}

#index a h3 {
  vertical-align: top;
}

#player {
  width: 100%;
  display: flex;
  align-items: stretch;
  align-content: stretch;
  justify-content: center;
  background-color: var(--bg-alt);
  flex-flow: row wrap;
}

#player * {
  position: relative;
}

#player-artwork {
  width: 35%;
  flex-basis: auto;
  margin: auto 20%;
}

#player-progress-bar {
  width: 35%;
  flex-basis: auto;
}

#player-duration {
  width: auto;
  flex-basis: auto;
}

#player-play-pause {
  flex-basis: auto;
  margin: auto 40%;
}
