{{define "head"}}
<head>
  <meta charset="UTF-8" />
  <title>Baba's Website</title>
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <meta name="description" content="" />
  <link rel="icon" href="/favicon.png">
  <link rel="stylesheet" href="/styles.css">
</head>
{{end}}

{{define "header"}}
<header>
  <a id=header-title href="/">Baba</a>
  <div id="header-links">
    <a href="/music">Music</a>
    <a href="/blog">Blog</a>
    <a href="/gallery">Gallery</a>
  </div>
</header>
{{end}}

{{define "footer"}}
<footer></footer>
{{end}}

{{define "page"}}
<!DOCTYPE html>
<html lang="en">
  <head>
    {{template "head"}}
  </head>
  <body>
    {{template "header"}}
    <div id="main">
      {{template "page-main" .}}
    </div>
    {{template "footer"}}
  </body>
</html>
{{end}}

{{define "index"}}
<!DOCTYPE html>
<html lang="en">
  {{template "head"}}
  <body>
    {{template "header"}}
    <div id="about">
      <p>{{template "index-about" .}}</p>
    </div>
    <div id="index">
      {{template "index-main" .}}
    </div>
    {{template "footer"}}
  </body>
</html>
{{end}}
