{{define "page-main"}}
<div id=title>
  <img src="me.png">
  <h1>Hi, my name is Baba, and this is my webpage.</h1>
</div>
<div id="about">
  <p>Music production enthusiast, I am currently a university student studying Computer Engineering. I use Arch Linux btw.
</div>
<div id="links">
  <a href="https://github.com/bx-sa1">
    <img src="code.gif">
    <span>Github</span>
  </a>
  <a href="blog">
    <img src="blog.gif">
    <span>Blog</span>
  </a>
  <a href="music">
    <img src="music-stamp.png">
    <span>My Music</span>
  </a>
  <a href="gallery">
    <img src="gallery.gif">
    <span>Gallery</span>
  </a>
</div>
<div id="donations">
</div>
{{end}}
